
.rubik-normal {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
  
}

.manage{
  background-image:url(../icons/shadow.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-bottom:15px ;
}

.taskey{
  background-image: url(../images/BACKGROUND.png);
  background-position:left;
  background-repeat: no-repeat;

}